body {
    margin: 0;
    background-color: #000;
    color: #DEDEDE;
    font-family: Calibri, Tahoma;
}

.page-content {
	display:none;
}

.page-loading {
	position:absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: url(images/loader.gif) no-repeat center center #fff;
}

#left-panel ul {
    margin: 0;
    padding: 0;
}

#left-panel ul li {
        list-style: none;
        background-color: grey;
        padding: 10px;
        margin: 10px;
        border: 1px solid grey;
        border-radius: 5px;
        -webkit-box-shadow: #333 -3px 3px 4px;
        box-shadow: #333 -3px 3px 4px;
        color: #FFFFFF;
    }

.error-box {
    position:absolute;
    bottom: 0;
    right: 0;
    background-color: #FFF;
    color: #000;
    width: 100%;
	height: 100%;
    text-align: center;
	z-index: 3;
}
    .error-box > div {
        margin: 20% auto;
    }

.success {
    background-color: #006400!important;
}

.failure {
    background-color: Red!important;
}

.running {
    background-color: gray!important;
}

.highlight {
    color: #FFFFFF;
    font-weight: bold;
}

.running-image {
    float: left;
    margin: 5px;
    width: 50px;
    height: 50px;
}

.clear {
    clear: both;
}

#left-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
	z-index:1;
}

#right-panel {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
	z-index:1;
}

#main-build {
    height: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: gray;
    text-align: center;
}

    #main-build.success.c0 {
        background-image: url('./images/happy1.png');
    }

    #main-build.failure.c0 {
        background-image: url('./images/angry1.png');
    }

    #main-build.success.c1 {
        background-image: url('./images/happy2.png');
    }

    #main-build.failure.c1 {
        background-image: url('./images/angry2.png');
    }

    #main-build.success.c2 {
        background-image: url('./images/happy3.png');
    }

    #main-build.failure.c2 {
        background-image: url('./images/angry3.png');
    }

    #main-build.success.c3 {
        background-image: url('./images/happy4.png');
    }

    #main-build.failure.c3 {
        background-image: url('./images/angry4.png');
    }

    #main-build.success.c4 {
        background-image: url('./images/happy5.png');
    }

    #main-build.failure.c4 {
        background-image: url('./images/angry5.png');
    }

    #main-build.success.c5 {
        background-image: url('./images/happy6.png');
    }

    #main-build.failure.c5 {
        background-image: url('./images/angry6.png');
    }

    #main-build.success.c6 {
        background-image: url('./images/happy7.png');
    }

    #main-build.failure.c6 {
        background-image: url('./images/angry7.png');
    }

    #main-build.success.c7 {
        background-image: url('./images/happy8.png');
    }

    #main-build.failure.c7 {
        background-image: url('./images/angry8.png');
    }

    #main-build.success.c8 {
        background-image: url('./images/happy9.png');
    }

    #main-build.failure.c8 {
        background-image: url('./images/angry9.png');
    }

    #main-build.success.c9 {
        background-image: url('./images/happy10.png');
    }

    #main-build.failure.c9 {
        background-image: url('./images/angry10.png');
    }

    #main-build.failure.c10 {
        background-image: url('./images/angry11.gif');
    }

    #main-build.success.c10 {
        background-image: url('./images/happy10.png');
    }

    #main-build.unknown.c0, #main-build.unknown.c2, #main-build.unknown.c4, #main-build.unknown.c6, #main-build.unknown.c8, #main-build.unknown.c10 {
        background-image: url('./images/unknown1.png');
    }

    #main-build.unknown.c1, #main-build.unknown.c3, #main-build.unknown.c5, #main-build.unknown.c7, #main-build.unknown.c9, #main-build.unknown.c11 {
        background-image: url('./images/unknown2.png');
    }

#main-branch-name {
    font-size: 2em;
    text-align: center;
}

#main-branch-status {
    font-size: 6em;
    text-align: center;
    text-transform: uppercase;
}

.build-number, .build-status {
    float: right;
}

.build-project, .build-branch, .build-type {
    float: left;
}

.build-number { 
    padding-left: 15px;
}

.build-project { 
    padding-right: .2em;
}

.build-type {
    padding-right: .2em;
}

#main-branch-changed-by, #main-branch-triggered-by, #main-branch-investigated-by {
    font-size: 2em;
    text-align: center;
}

#main-branch-name, #main-branch-changed-by, #main-branch-investigated-by, #main-branch-status, #left-panel ul li {
    -webkit-text-shadow: #000000 -3px 3px 4px;
    text-shadow: #000000 -3px 3px 4px;
}

ul.inlineSentenceList {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}
ul.inlineSentenceList > li {
    display: inline;
}
ul.inlineSentenceList > li:after {
  content: ", ";
}
ul.inlineSentenceList > li:last-child:after {
    content: "";
}

.progress-container {
    height: 10px;
    margin-top: 7px;
    background-color: #000000;
}

.ui-progressbar-value {
    background-color: #FFFFFF;
    background-image: none;
    height: 100%;
}
