body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Calibri, Tahoma;
    letter-spacing: 2px;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: rgb(35, 60, 200);
}

.page-content {
	display:none;
}

.page-loading {
	position:absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: url(images/loader.gif) no-repeat center center #fff;
}

#left-panel ul {
    margin: 0;
    padding: 0;
}

#left-panel ul li {
        list-style: none;
        background-color: grey;
        padding: 10px;
        margin: 10px;
        border: 1px solid grey;
        border-radius: 5px;
        color: #FFFFFF;
    }

.error-box {
    position:absolute;
    bottom: 0;
    right: 0;
    background-color: #FFF;
    color: #000;
    width: 100%;
	height: 100%;
    text-align: center;
	z-index: 3;
}
    .error-box > div {
        margin: 5% auto;
    }

.success {
    background-color: #5cb85c!important;
}

.failure {
    background-color: #d9534f!important;
}

.failure.investigated {
    background-color: #d9674f!important;
}
.failure.investigated > :first-child:before {
    content: '🔍 ';
}

.running {
    background-color: gray!important;
}

.highlight {
    color: #FFFFFF;
    font-weight: bold;
}

.running-image {
    float: left;
    margin: 5px;
    width: 50px;
    height: 50px;
}

.clear {
    clear: both;
}

#left-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
	z-index:1;
}

#right-panel {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
	z-index:1;
}

#main-build {
    height: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: gray;
    text-align: center;
}

#main-branch-name {
    font-size: 2em;
    text-align: center;
}

#main-branch-status {
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
    padding:10px;
}

#left-panel {
    font-size: 1.5em;
}

#left-panel .build-number, #left-panel .build-status {
    float: right;
}

#left-panel .build-project, #left-panel .build-branch, #left-panel .build-type {
    float: left;
}

#left-panel .build-number { 
    padding-left: 15px;
}

#left-panel .build-project { 
    padding-right: .2em;
    font-size:3em;
}

#left-panel .build-type {
    padding-right: .2em;
    font-size:2em;
}

#main-branch-changed-by, #main-branch-triggered-by, #main-branch-investigated-by {
    font-size: 2em;
    text-align: center;
}

.investigated #main-branch-changed-by {
    font-size: 1.5em;
}

#main-branch-name .build-project {
    font-size: 4em;
}

#main-branch-name .build-type {
    font-size: 2em;
}

#main-branch-name .build-branch {
    font-size: 1.5em;
    white-space: nowrap;
}

#main-branch-name .build-number {
    font-size: 1em;
    white-space: nowrap;
}

#left-panel ul li {
    -webkit-text-shadow: #000000;
    text-shadow: #000000;
}

/*Add shadow to make stuff that can lay over an image readable*/ #main-branch-name, #main-branch-changed-by, #main-branch-investigated-by, #main-branch-status, #main-branch-triggered-by {
    text-shadow:
        0 0 .3em rgba(0,0,0,1),
        0 0 .3em rgba(0,0,0,1),
        0 0 .3em rgba(0,0,0,1),
        0 0 .3em rgba(0,0,0,1),
        0 0 .3em rgba(0,0,0,1),
        0 0 .3em rgba(0,0,0,1); /*Repeating to enhance the opacity beyond the 1 alpha - http://graphicdesign.stackexchange.com/a/5836 */
}

ul.inlineSentenceList {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}
ul.inlineSentenceList > li {
    display: inline;
}
ul.inlineSentenceList > li:after {
  content: ", ";
}
ul.inlineSentenceList > li:last-child:after {
    content: "";
}

.progress-container {
    height: 10px;
    margin-top: 7px;
    background-color: #000000;
}

.ui-progressbar-value {
    background-color: #FFFFFF;
    background-image: none;
    height: 100%;
}
